# Configuração Twitch
TWITCH_CLIENT_ID=seu_client_id_aqui
TWITCH_CLIENT_SECRET=seu_client_secret_aqui

# Configuração Backend
PORT=3000
LEGACY_PORT=3001
NODE_ENV=development

# Configuração Redis
REDIS_URL=redis://localhost:6379