{{> head}}

<div class="set-user">
  <div class="set-user--area">
    <div class="loader"></div>
  </div>
</div>
<div class="modal">
  <div class="modal-content">
    <div class="modal-link">
      <div class="close-modal" onclick="closeModal()">x</div>
      <h1>Your transparent chat link was generated</h1>
      <a href="#">Click here to copy</a>
    </div>
  </div>
</div>
<header>
  <div class="header-area">
    <h1>
      <span>Twitch</span>Chat
    </h1>
    <div onclick="openMenu()" class="menu-icon">
      <img src="./assets/images/config.png" alt="Config">
    </div>
  </div>
  <div class="menu" id="menu" style="font-size: 14px;">
    <div class="menu-bg" onclick="closeMenu()">
    </div>
    <div class="menu-area">
      <div class="menu-item chat-background">
        Background:
        <input type="color" class="color" id="chat-background" value="#6b0080">
      </div>
      <div class="menu-item name-background">
        Name background:
        <input type="color" class="color" id="name-background" value="#111111">
      </div>
      <div class="menu-item name-color">
        Name text color:
        <input type="color" class="color" id="name-color" value="#ffffff">
      </div>
      <div class="menu-item message-background">
        Message background:
        <input type="color" class="color" id="message-background" value="#ffffff">
      </div>
      <div class="menu-item message-color">
        Message text color:
        <input type="color" class="color" id="message-color" value="#000000">
      </div>
      <div class="menu-item font-size">
        Font size:
        <input type="number" class="number" id="font-size" max="20" min="8" value="14">
      </div>
      <div class="menu-item transparent">
        <label for="transparent">
          <input type="checkbox" name="transparent" id="transparent">
          Transparent
        </label>
      </div>
    </div>
  </div>
</header>
<div class="chat" id="chat">

</div>
<div class="copy-field">
  <input type="text">
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/script.js"></script>
<script>
  const channel = '{{channel}}';
  setUsername();

  socket.io.on('reconnect_attempt', () => {
    console.log('Tentando reconexão!!');
  });

  socket.io.on('reconnect', () => {
    console.log('Reconectado!');
    socket.emit('username', channel);
  });
</script>

{{> footer}}