{{> head}}

<div class="set-user">
  <div class="set-user--area">
    <div class="loader"></div>
    <span>Twitch channel:</span>
    <div class="set-user--form">
      <form method="POST">
        <label for="usuario">
          <input type="text" name="channel" id="usuario" placeholder="channel name...">
        </label>
        <input class="submit" type="submit" value="OK">
      </form>
    </div>
  </div>
</div>
<script src="/assets/js/main.js"></script>

{{> footer}}